

* {
    
    box-sizing: border-box;
}

body {
    margin : 0 ;
    padding : 0;


}
/* i gave this a max width and aligned it to center very important!!!!!! */
.header-class {
     position: sticky;
    top: 0;
    background-color: #fff;
   max-width: 100%;
    
}
.main-header {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1140px;
    margin: 0 auto;
   
}
.logo-tag {
    color: #E86044;
    cursor: pointer;
    
}
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap:45px;
    list-style: none;
    align-items: center;
    margin-right: 40px;

    /* flex-grow: 3; */
   
}
.nav-bar li a:hover {
    color:#E86044;
}
.nav-bar a {
    text-decoration: none;
    color: #000;
   


}
.nav-item {
    list-style: none;
    text-align: center;
    /* margin: auto; */
    margin-top: 5px;
}


.nav-item a {
    text-decoration: none;
}
.shop-btn:hover {
    background: #e6f0fa;


}
.nav-item a:hover {
    color: #E86044;
}
.navbar-nav {
    border: 1px solid #ff6348;
    border-radius: 5px;
    color: #fff;
    background-color: #ff6348;
    padding: 8px 17px;
    width: 8rem;
}

.navbar-nav a {
    color: white;
    text-align: center;
}
/* main content session */
/* .main-section {
    
    background-color:#7DCABA;
    padding: 80px;
   
} */
 /* .main-content {
  
    /* background-color: #E86044; */
    /* padding: 100px;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: fit-content;
    margin-left: 5rem; */ 
    

/* 
} */ 
/* 
.main-section h1 {
    color: #102461;
    font-weight:900;
    line-height: 62px;
    font-size: 50px;

} */

/* 
.hero-btn {
    border: 1px solid #ff6348;
    border-radius: 5px;
    color: #fff;
    background-color: #ff6348;
    padding: 25px 25px;
    width: 10rem;
/* } */ 

/**********************************  MAIN SECTION PAGE *******************************************/
.main-section {
    background-color: #7DCABA;
    /* padding: 3em; */
    margin-top: -6%;
    
    
}
.main-content {
    display: flex;
    
    align-items: center;
    justify-content: center;
    /* padding: 2em; */

}
.header-content {
    flex-basis: 654px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 14em;
    margin-top: 48px;
}
.header-content h1 {
    line-height: 65px;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: -42px;
    color: #102461;
    padding: 33px;
    word-spacing: -7px;
    
}

p.about {
    padding: 33px;
    margin: top -10px;
    color:#0c2461 ; 
    font-size: 19px;
    line-height: 30px;
}

.hero-btn {
    padding: 20px;
    margin-left: 11px;
    margin-top: -58px;
}
.hero-btn a {
    display: inline-block;
    background-color: #ff6348;
    margin: 30px 0 0;
    color: #fff;
    padding: 18px 58px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
}



.img-cls {
    display: flex;
    /* flex-basis: 414px; */
    flex-grow: 1;
    justify-content: flex-start;

}
img {
    max-width: 81%;
    /* max-height: 431px; */
    height: auto;

}

/* ******************************** PRODUCT PAGE ***************************************** */

.product-page {
    margin-top: 4em;
    padding: 40px;
}

.product-header {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.product-header .product_header_1 {
    color:#E86044;
    font-size: 16px; 
}
.product-header .product_header_2 {
    margin-top: -26px; 
    color: #102461;
     font-size: 40px;
}

.product-header .product_content {
    text-align: center; 
    margin-top: -6px; 
    line-height: 28px; 
    font-size: 18px; 
    color: #416392;
}
.sub-product {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 64px;
    /* align-items: center; */
}
.diam-design .fa-diamond {
    font-size:48px;
    color:#ff6348; 
    margin-left: 63px;
}
.user-design .fa-user {
    font-size:48px;
    color:#ff6348; 
    margin-left: 90px;
}
h4.user-header {
    margin-left: 35px;
}
.shield-design .fa-shield {
    font-size:48px;
    color:#ff6348;
     margin-left: 80px;
}
.header {
    font-size: 29px;
    line-height: 18px;
    color: #102461;
}
.p_header {
    text-align: center; 
    line-height: 28px;
     font-size: 17px;
     color: #416392;
}

/************************* FEATURE PAGE  ***********************************/
.feature-page {
    background-color: #F6F3EA;
    padding-bottom: 100px;
}

.feature-header h6 {
    color:#E86044;
    font-size: 16px;
     margin-top: 70px;
}
.feature-header h1 {
    font-size: 50px; 
    line-height:60px;
    color:#102461; 
    margin-top: -31px;
}
.feature-header p {
    text-align:center ;
    font-size:20px; 
    color:#416392
}

.feature-page .feature-header {
    display: flex;
  
    align-items: center;
    flex-direction: column;
    
}
.feature-content1 {
    margin-bottom:-133px ;
}
.fea-img {
    text-align: center;
}
.feature-content2 {
    margin-top: -204px;
}
.feature-content1,
.feature-content2
 {
    justify-content: space-evenly;
    display: flex;
    gap: 90px;
    
}

.feat-cont h4 {
    color: #0C2461;
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
}

.feat-cont p {
    color: #3c6382;
    line-height: 26px;
    font-size: 18px;

}

/* ********************PRODUCT AREA ************************/
.product-area {
    background-color: #fff;
    padding: 58px;
}

.product-samples {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-samples h4 {
    color:#E86044;
    font-size: 16px; 
    margin-bottom: 38px; 
}
.product-samples h1 {
    font-size: 50px; 
    line-height:60px;
    color:#102461; 
    margin-top: -31px;
}
.product-samples p {
    text-align:center ;
    font-size:20px; 
    color:#416392; 
    margin-top:-19px ;
}
.product-images {
    display: flex;
    justify-content: space-evenly;
   background-color: #fff;
}
.img-1 {
    border: 1px solid #e6f0fa;
    border-radius: 20px;
    overflow: hidden;
    background-color: #F6F3EA;
    padding: 35px;
}
.img-1 img {
    max-width:250px ; 
}
/*****************FOOTER PAGE *********************/
.footer-class {
    display: flex;
    justify-content: center;
    background-color: #F6F3EA;
    padding: 70px;
    gap: 2em;
    margin-left: -155px;
}
.footer-head p {
    text-align:center ;
    font-size:20px; color:#0c2461; 
    margin-top:1px; 
    font-size: 18px; 
    line-height: 29px;
}
.footer-info ul li,
.footer-policy ul li{
    
    list-style: none;
    margin: 20px;
   font-size:20px;
}
.footer-info a,
.footer-policy a{
    text-decoration: none;
    color: #0C2461;
    
}
.subscribe input {
    font-size: 15px;
    border-color: #e6f0fa;
    height: 61px;
    border-radius: 62px;
    border: 0;
    padding-left: 32px;
    max-width: -21px;
    width: 26em;
  
}
.subscribe button {
    padding: 30p;
    background: #ff6348;
    background: #ff6348;
    padding: 0px 30px;
    height: 49px;
    border-radius: 30px;
    border: 0;
    margin-left: -135px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.footer-social h4 {
    text-align: left;
     margin-left: 45px; 
     color: #0c2461; 
     font-size: 20px; 
     line-height: 1px;
}
.footer-social ul{
    display: flex;
     gap: 8px;
}


.footer-social {
    margin-left: -434px;
    margin-top: 50px;
    align-self: flex-end;
}
.footer-social li a {
    text-decoration: none;

}
.footer-social li {
    background: #FFF;
    border-radius: 50%;
    padding: 11px;
    list-style: none;

}
.footer-social ul i {
    font-size: 20px;
}

/******************** WEBPAGE CREATOR ***********************/
div.container {
    background-color: #fff;
     padding: 5px;
}
.container p {
    text-align:center ; 
    font-size: 20px; 
    color: #0c2461;
}